beautifulsoup4==4.11.1
htmldate==1.2.1
imutils==0.5.4
isbntools==4.3.28
langdetect==1.0.9
newspaper==0.1.0.7
newspaper3k==0.2.8
nltk==3.7
opencv_python==4.5.5.64
PyPDF2==1.27.5
pyzbar==0.1.9
pyzotero==1.5.2
requests==2.27.1
